<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="stadium-bg">
    <div class="container">
    <div style="text-align: center;">
        <img src="/images/Dugout-logo.png" alt="Logo" style="max-width: 300px; margin-bottom: 20px;" />
        <h1>Welcome to DUGOUT TALK!</h1>
        
        <div>
            <a href="/auth/login"><button>Sign In</button></a>
            <a href="/auth/register"><button>Register</button></a>
            <a href="/guest"><button>Continue as Guest</button></a>
        </div>
    </div>
</div>
</body>
</html>
