<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">

    <meta charset="UTF-8">
    <title>All Players</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        img {
            max-width: 150px;
            height: auto;
            display: block;
            margin: 10px auto;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <h1>All Players</h1>
<div style="display: flex; justify-content: space-between; margin: 30px 40px;">
    <a href="/dashboard"><button>Home</button></a>
    <a href="/auth/logout"><button>Logout</button></a>
  </div>
  
  

    <ul>
        <% players.forEach(player => { %>
            <li>
                <a href="/posts/player/<%= player._id %>">
                    <strong><%= player.name %></strong><br>
                    <img src="<%= player.image %>" alt="<%= player.name %>">
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
